{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
<div class="content">
    <h1>Контакти</h1>
    <div class="contact-info">
        <h2>Як з нами зв'язатися</h2>
        <ul>
            <li>📧 Email: neskazhu@example.com</li>
            <li>📞 Телефон: +380 67 224 5171</li>
            <li>📍 Адреса: вул. Тараса Шевченка, 13, Дубляни</li>
        </ul>
        
        <h2>Графік роботи</h2>
        <p>Пн: 9:00 - 18:00</p>
        <p>Вт-Нд: Вихідний</p>
    </div>
</div>
{% endblock %} 