{% extends 'main/templforhtml.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
    <div class="features">
        <h1>Головна сторінка</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate dolorum excepturi molestiae repellendus, tempore. Adipisci architecto, dolor et in iure minus molestiae, nisi nobis, officia soluta tempora totam ullam veniam! Alias corporis dolorem quas reprehenderit velit vitae voluptates? Illum!</p>
    </div>
{% endblock %}

