{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="content">
    <h1>Про нас</h1>
    <p>Ми команда професіоналів, яка працює для вас.</p>
    <div class="about-content">
        <h2>Наша місія</h2>
        <p>Створювати якісні продукти та надавати найкращі послуги.
            Такі як цей сайт. Доречі зробив його я сам.(11 в списку) там в моїй лінійці по балах має писати 99%
        </p>
        
        <h2>Наша команда</h2>
        <ul>
            <li>Досвідчені спеціалісти</li>
            <li>Професійний підхід</li>
            <li>Індивідуальний підхід до кожного клієнта</li>
        </ul>
    </div>
</div>
{% endblock %} 