{% extends "base.html" %}

{% block title %}Послуги{% endblock %}

{% block content %}
<div class="content">
    <h1>Наші послуги</h1>
    <div class="services-list">
        <div class="service-item">
            <h2>Послуга 1</h2>
            <p>Створення сучасних веб-застосунків для бізнесу з використанням новітніх технологій (React, Angular, Vue.js, Django, Node.js тощо).</div></p>
        </div>
        
        <div class="service-item">
            <h2>Послуга 2</h2>
            <p>Створення нативних і кросплатформних мобільних додатків з використанням Swift, Kotlin, Flutter, або React Native.</p>
        </div>
        
        <div class="service-item">
            <h2>Послуга 3</h2>
            <p>Розробка та впровадження CRM/ERP-систем для автоматизації управління клієнтами, продажами та внутрішніми процесами компанії.</p>
        </div>
    </div>
</div>
{% endblock %} 