<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-grid">
        <a href="{{ url_for('index') }}" class="nav-button">Головна</a>
        <a href="{{ url_for('about') }}" class="nav-button">Про нас</a>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
